{% extends "base.html" %}

{% load staticfiles %}

{% block title %}相关企业{% endblock %}

{% block content %}
    <div class="container" style="background-image: url(/static/images/background/background-brand.jpg);">
        <div class="row text-center vertical-middle-sm">
            <h1>中国人工智能机器人企业</h1>
        </div>
        <table class="table table-hover">
        <tr>
            <td>排名</td>
            <td>企业</td>
            <td>综述</td>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="">阿里</a></td>
            <td>ET具备智能语音交互、图像/视频识别、交通预测、情感分析等技能。推出人工智能法院机器人。</td></tr>
            <tr>
            <td>2</td>
            <td><a href="">新松</a></td>
            <td>自主研发国内首台具备柔性多关节机械臂及主动视觉导航系统的复合机器人。</td></tr>
            <tr>
            <td>3</td>
            <td><a href="">京东</a></td>
            <td>京东金融正式发布了一款机房智能巡检机器人，借助先进的深度学习算法、领先的机器视觉技术，彻底解决了人工错检、漏检等 问题。</td></tr>
            <tr>
            <td>4</td>
            <td><a href="">科沃斯机器人</a></td>
            <td>有“服务机器人第一股”之称，在南京成立了人工智能研究院。</td></tr>
            <tr>
            <td>5</td>
            <td><a href="">图灵机器人</a></td>
            <td>个性化智能机器人平台。</tr>
            <tr>
            <td>6</td>
            <td><a href="">优必选</a></td>
            <td>其开发的Walker双足机器人在运动能力方面具备全方向自由行走、稳健爬坡以及平稳上下楼梯能力。</tr>
            <tr>
            <td>7</td>
            <td><a href="">艾特智能</a></td>
            <td>研发宠物陪伴机器人，它可以与狗狗投球玩耍、帮助主人遛狗、自动喂食、还可以视频监护和语音对讲。</tr>
            <tr>
            <td>8</td>
            <td><a href="">思必驰</a></td>
            <td>推出智能机器人乐橙，此款产品是由思必驰与大华合作推出。</tr>
            <tr>
            <td>9</td>
            <td><a href="">北京智能管家</a></td>
            <td>推出ROOBO机器人，科大讯飞等参投A轮融资。</tr>
            <tr>
            <td>10</td>
            <td><a href="">北京紫平方</a></td>
            <td>推出小紫机器人，一个可以代替真人，自动拨打电话的销售和客服专家针对不同行业。</td></tr>
            <tr>
            <td>11</td>
            <td><a href="">祈飞科技</a></td>
            <td>智能机器人系统方案商，专注于智慧零售、智慧医疗、人工智能平台和智能制造领域人工智能机器人应用方案的研究和开发。</td></tr>
            <tr>
            <td>12</td>
            <td><a href="">逸途科技</a></td>
            <td>手持式旅行机器人提供商。</td></tr>
            <tr>
            <td>13</td>
            <td><a href="">擎朗智能</a></td>
            <td>智能机器人研发生产。</td></tr>
            <tr>
            <td>14</td>
            <td><a href="">宇树科技</a></td>
            <td>推出自主研发的人工智能机器狗“绝影”。</td></tr>
            <tr>
            <td>15</td>
            <td><a href="">臻迪智能</a></td>
            <td>工业级无人机及机器人开发公司。</tr>
            <tr>
            <td>16</td>
            <td><a href="">芋头科技</a></td>
            <td>公司研发的若琪Rokid家庭机器人和若琪智能语音机器人两款人工智能产品。</tr>
            <tr>
            <td>17</td>
            <td><a href="">云问科技</a></td>
            <td>推出云问机器人，深挖智能问答机器人底层技术。</tr>
            <tr>
            <td>18</td>
            <td><a href="">克路德</a></td>
            <td>推出克路德机器人，宣布完成6000万元的A+轮融资，此轮融资主要用于人工智能场景化落地和进一步深耕行业应用。</tr>
            <tr>
            <td>19</td>
            <td><a href="">智言科技</a></td>
            <td>智言科技与多家保险公司就聊天机器如何落地保险业已开展了诸多尝试。</tr>
            <tr>
            <td>20</td>
            <td><a href="">杭州小喵</a></td>
            <td>推出墨子AI机器人，这是一款以自然语言处理和深度学习技术为基础的HR机器人。</td></tr>
            <tr>
            <td>21</td>
            <td><a href="">达闼科技</a></td>
            <td>云端智能机器人运营商。</tr>
            <tr>
            <td>22</td>
            <td><a href="">深圳金伦通信</a></td>
            <td>小A电话机器人。</tr>
            <tr>
            <td>23</td>
            <td><a href="">中科高研</a></td>
            <td>推出中科望诊机器人，其采用人工机器视觉技术。</tr>
            <tr>
            <td>24</td>
            <td><a href="">小船信息科技</a></td>
            <td>实现服务机器人、人工智能与互联网娱乐平台的跨界布局。</tr>
            <tr>
            <td>25</td>
            <td><a href="">乘方大数据</a></td>
            <td>研发的智能机器人小编能负责时政类文本的勘误。</td></tr>
    </table>
        <h2>2019年智能机器人10大品牌(排名无先后，来自<a href="https://www.china-10.com/">【十大品牌网China-10】</a>)</h2>
        <table class="table table-hover">
        <tr>
            <td>品牌</td>
            <td>企业</td>
            <td>上榜理由</td>
        </tr>
        <tr>
            <td><a href="https://www.ubtrobot.com/cn/">优必选UBTECH</a></td>
            <td><a href="https://www.ubtrobot.com/cn/">深圳市优必选科技有限公司</a></td>
            <td>致力于商业化人形智能机器人的研发制造及销售,国内人工智能和机器人领域佼佼者。</td>
        </tr>
            <tr>
            <td><a href="http://www.abilix.com/">能力风暴Abilix</a></td>
            <td><a href="http://www.partnerx.cn/">上海未来伙伴机器人有限公司</a></td>
            <td>创立于1996年,拥有丰富的教育机器人产品线,专注于伙伴机器人新产业的创造。
            </td>
        </tr>
            <tr>
            <td><a href="http://www.iflytek.com/">科大讯飞iFLYTEK</a></td>
            <td><a href="http://www.iflytek.com/">科大讯飞股份有限公司</a></td>
            <td>始于1999年,国内人工智能领域知名品牌,旗下拥有讯飞输入法/灵犀/录音宝/讯飞语音输入/开心熊宝/听说无忧等应用软件。</td>
        </tr>
            <tr>
            <td><a href="http://www.uurobot.com/">爱乐优CANBOT</a></td>
            <td><a href="http://myrobot.robot-china.com/">北京康力优蓝机器人科技有限公司</a></td>
            <td>康力电梯和紫光股份共同投资设立的高科技智能机器人企业,知名智能服务机器人品牌。</td>
        </tr>
            <tr>
            <td><a href="https://aiiage.com/">寒武纪</a></td>
            <td><a href="http://www.cambricon.com/">深圳市寒武纪智能科技有限公司</a></td>
            <td>专注于智能家庭服务机器人的研发打造，从事机器人视觉/AI深度学习算法/路径规划/运动控制/自然语言处理等机器人核心技术的创新型高科技企业。</td>
        </tr>
            <tr>
            <td><a href="http://puddings.roobo.com/">布丁Pudding</a></td>
            <td><a href="http://puddings.roobo.com/">北京智能管家科技有限公司</a></td>
            <td>人工智能解决方案提供商，旗下布丁儿童机器人在业界享有声誉，致力于打造人工智能及机器人操作系统的企业。</td>
        </tr>
            <tr>
            <td><a href="http://www.xshuai.com/">海尔小帅XSHUAI</a></td>
            <td><a href="http://www.haier.net/cn/">海尔集团公司</a></td>
            <td>致力于提供便携智能微投、家用投影及智能穿戴设备等专业的家庭观影补充设备及周边产品的互联网智能公司。</td>
        </tr>
            <tr>
            <td><a href="https://www.gowild.cn/">Gowild</a></td>
            <td><a href="https://www.gowild.cn/">深圳狗尾草智能科技有限公司</a></td>
            <td>国内知名家庭智能机器人品牌,专注于人工智能技术研究,其推出的公子小白情感社交机器人颇受欢迎。</td>
        </tr>
            <tr>
            <td><a href="http://www.zaijia.com/">小鱼在家</a></td>
            <td><a href="http://www.zaijia.com/">北京小鱼儿网络科技有限公司</a></td>
            <td>从事家庭智能机器人及人工智能行业中的技术创新与品类开发，致力于打造智能家庭硬件终端和服务的科技创新型企业。</td>
        </tr>
            <tr>
            <td><a href="https://qrobot.qq.com">Qrobot</a></td>
            <td><a href="https://www.tencent.com/">深圳市腾讯计算机系统有限公司</a></td>
            <td>腾讯旗下智能硬件品牌,由腾讯研发,搭载腾讯云智能服务系统的智能互联网机器人产品。</td>
        </tr>
    </table>
    <div class="row text-center vertical-middle-sm">
        <h1>相关网站</h1>
    </div>
    <table class="table table-hover">
        <tr>
            <td>网站</td>
            <td>网址</td>
        </tr>
        <tr>
            <td><a href="http://www.robot-china.com/">中国机器人网</a></td>
            <td><a href="http://www.robot-china.com/">http://www.robot-china.com/</a></td>
        </tr>
        <tr>
            <td><a href="http://www.jiqirenku.com/">机器人库</a></td>
            <td><a href="http://www.jiqirenku.com/">http://www.jiqirenku.com/</a></td>
        </tr>
        <tr>
            <td><a href="https://www.jqr.com/">机器人之家</a></td>
            <td><a href="https://www.jqr.com/">https://www.jqr.com/</a></td>
        </tr>
    </table>
    </div>
    <div>
        <div id="background-image" style="background-image: url(/static/images/background/background-brand.jpg);"></div>
    </div>
{% endblock %}

