{% extends "create/technology/technology-base.html" %}

{% load staticfiles %}

{% block title %}相关技术{% endblock %}

{% block content %}
    <div class="layui-body" style="color:white; margin-top:50px; margin-left: 110px; margin-right: 90px">
        <br />
        <h2 class="text-center">云计算</h2>
        <div style="font-size:20px; padding: 15px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp云计算（Cloud Computing）是基于互联网的相关服务的增加、使用和交互模式，通常涉及通过互联网来提供动态易扩展且经常是虚拟化的资源。云是网络、互联网的一种比喻说法。过去在图中往往用云来表示电信网，后来也用来表示互联网和底层基础设施的抽象。因此，云计算甚至可以让你体验每秒10万亿次的运算能力，拥有这么强大的计算能力可以模拟核爆炸、预测气候变化和市场发展趋势。用户通过电脑、笔记本、手机等方式接入数据中心，按自己的需求进行运算。</div>
        <div style="font-size:20px; padding: 15px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp对云计算的定义有多种说法。对于到底什么是云计算，至少可以找到100种解释。现阶段广为接受的是美国国家标准与技术研究院（NIST）定义：云计算是一种按使用量付费的模式，这种模式提供可用的、便捷的、按需的网络访问， 进入可配置的计算资源共享池（资源包括网络，服务器，存储，应用软件，服务），这些资源能够被快速提供，只需投入很少的管理工作，或与服务供应商进行很少的交互。用通俗的话说，云计算就是通过大量在云端的计算资源进行计算，如：用户通过自己的电脑发送指令给提供云计算的服务商，通过服务商提供的大量服务器进行“核爆炸”的计算，再将结果返回给用户。</div>
        <div style="font-size:25px; padding: 15px;">概念：</div>
        <div style="font-size:20px; padding: 15px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp云计算（cloudcomputing）是基于互联网相关服务的增加、使用和交互模式，通常涉及通过互联网来提供动态易扩展且经常是虚拟化的资源。</div>
        <div style="font-size:20px; padding: 15px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(原文：Cloud computing is a style of computing in which dynamically scalable and often virtualized resources are provided as a service over the Internet.)</div>
        <div style="font-size:20px; padding: 15px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp美国国家标准与技术研究院（NIST）定义：云计算是一种按使用量付费的模式，这种模式提供可用的、便捷的、按需的网络访问， 进入可配置的计算资源共享池（资源包括网络，服务器，存储，应用软件，服务），这些资源能够被快速提供，只需投入很少的管理工作，或与服务供应商进行很少的交互。XenSystem，以及在国外已经非常成熟的Intel 和IBM，各种“云计算”的应用服务范围正日渐扩大，影响力也无可估量。</div>
        <div style="font-size:20px; padding: 15px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp由于云计算应用的不断深入，以及对大数据处理需求的不断扩大，用户对性能强大、可用性高的4路、8路服务器需求出现明显提速，这一细分产品同比增速超过200%。</div>
        <div style="font-size:20px; padding: 15px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspIBM在这一领域占有相当的优势，更值得关注的是，浪潮仅以天梭TS850一款产品在2011实现了超过15%的市场占有率，以不到1%的差距排名IBM，HP之后，成为中国高端服务器三强。</div>
        <div style="font-size:20px; padding: 15px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2012年浪潮斥资近十亿元研发的32路高端容错服务器天梭K1系统尚未面世，其巨大的市场潜力有待挖掘。</div>
        <div style="font-size:20px; padding: 15px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp原文：Cloud computing is a model for enabling ubiquitous, convenient, on-demand network access to a shared pool of configurable computing resources (e.g., networks, servers, storage, applications, and services) that can be rapidly provisioned and released with minimal management effort or service provider interaction.</div>
        <br /><br /><br />
        <div class="text-center" style="font-size:20px; padding: 15px;">以上信息来自百度百科</div>
        <br /><br /><br />
    </div>

    <div class="layui-footer" style="color:white; margin-top:500px; margin-left: 700px;">
        <p>智能机器人相关技术介绍</p>
    </div>

</div>
<script>
document.getElementById('self-awareness').className = 'layui-nav-item layui-nav-itemed';
{#var li = document.getElementById('self-awareness');#}
{#li.className = 'layui-nav-item layui-nav-itemed';#}
</script>
{% endblock %}