{% extends "create/technology/technology-base.html" %}

{% load staticfiles %}

{% block title %}相关技术{% endblock %}

{% block content %}
    <div class="layui-body" style="color:white; margin-top:50px; margin-left: 110px; margin-right: 90px">
        <br /><br /><br /><br /><br /><br /><br />
        <h2 class="text-center">更多相关内容还待添加</h2>
        <div class="text-center" style="font-size:20px; padding: 15px;">资料尚不完善</div>
        <div class="text-center" style="font-size:20px; padding: 15px;">更多相关内容敬请期待</div>
    </div>

    <div class="layui-footer" style="color:white; margin-top:500px; margin-left: 700px;">
        <p>智能机器人相关技术介绍</p>
    </div>

</div>
{#<script src="/static/layui/layui.js" charset="utf-8"></script><script>#}
{#//JavaScript代码区域#}
{#layui.use('element', function(){#}
{#  var element = layui.element;#}
{##}
{#});#}
{#</script>#}
{% endblock %}