<div class="layui-side layui-bg-black" style="margin-top:50px; margin-left: 110px;">
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed" id="natural-language-processing">
          <a class="" href="javascript:;">自然语言处理</a>
          <dl class="layui-nav-child">
            <dd><a href="speech-recognition.html">语音识别</a></dd>
            <dd><a href="visual-processing.html">视觉处理</a></dd>
            <dd><a href="technology-others.html">其它内容</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item" id="self-awareness">
          <a href="javascript:;">自主意识</a>
          <dl class="layui-nav-child">
            <dd><a href="big-data.html">大数据</a></dd>
            <dd><a href="clound-computing.html">云计算</a></dd>
            <dd><a href="technology-others.html">其它内容</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item" id="autonomous-navigation">
          <a href="javascript:;">自主导航</a>
          <dl class="layui-nav-child">
            <dd><a href="visual-navigation.html">视觉导航</a></dd>
            <dd><a href="radar-navigation.html">雷达导航</a></dd>
            <dd><a href="technology-others.html">其它内容</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="{% url 'create:technology_column' %}">智能机器人基础含义</a></li>
        <li class="layui-nav-item"><a href=""></a></li>
      </ul>
    </div>
</div>
