<div class="layui-body" style="color:white; margin-top:50px; margin-left: 110px; margin-right: 90px">
    <br />
    <h2 class="text-center">智能机器人基础含义</h2>
    <div style="font-size:20px; padding: 15px;">机器人（Robot）是自动执行工作的机器装置。
        它既可以接受人类指挥，又可以运行预先编排的程序，也可以根据以人工智能技术制定的原则纲领行动。</div>
    <div style="font-size:20px; padding: 15px;">一个智能机器人的产生离不开各种技术的支持，无论多智能的机器人都是一堆材料组装而成。
        只有运用相关技术才能让这堆材料动起来，并使它拥有视觉，听觉等。正是这些技术使得机器人从死物变成类似人的”活物“。</div>
    <div style="font-size:20px; padding: 15px;">智能机器人之所以叫智能机器人， 这是因为它有相当发达的“大脑”。
        在脑中起作用的是中央处理器，这种计算机跟操作它的人有直接的联系。
        最主要的是，这样的计算机可以进行按目的安排的动作。
        正因为这样，我们才说这种机器人才是真正的机器人，尽管它们的外表可能有所不同。</div>
    <br /><br /><br />
    <div class="text-center" style="font-size:20px; padding: 15px;">现在就让我们通过左侧菜单来了解一下智能机器人的相关技术吧。</div>
</div>
