{% extends "create/technology/technology-base.html" %}

{% load staticfiles %}

{% block title %}相关技术{% endblock %}

{% block content %}
    <div class="layui-body" style="color:white; margin-top:50px; margin-left: 110px; margin-right: 90px">
        <br />
        <h2 class="text-center">视觉导航</h2>
        <div style="font-size:20px; padding: 15px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp视觉导航是利用传感器感知周围环境信息作为机器人行动依据的导航技术。</div>
        <div style="font-size:20px; padding: 15px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp视觉导航主要包括视觉图像预处理，目标提取、目标跟踪、数据融介等问题。其中，运动目标检测可采用背景差法、帧差法、光流法等，固定标志物检测可用到角点提取、边提取、小变矩、Hough变换、贪婪算法等，目标跟踪可以分析特征进行状态估计，并与其他传感器融介，用到的方法有卡尔曼滤波、粒子滤波器和人工神经网络等。还有很多方法诸如全景图像几何形变的分析或者地平线的检测等没有进行特征提取，而是自接将图像的某一变量加到控制中去。</div>
        <div style="font-size:20px; padding: 15px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp图像处理技术以及摄像机硬件的发展使得计算机视觉技术可以引入到无人机的导航问题中来。首先，依靠视觉所提供的实时信息可以与惯性导航和GPS信息进行融介，弥补后两者的缺陷，提高导航精度[4]。其次，摄像机更善于捕捉运动信息，传统的传感器则较吃力，从应用的角度来看，视觉信号的抗十扰性能很好，而无线电和GPS信号易受阻塞。最后，摄像机属于被动传感器，利用的是可见光或者红外线这种自然信息，这在军事隐蔽侦查上尤为重要。</div>
        <div style="font-size:25px; padding: 15px;">视觉处理：</div>
        <div style="font-size:20px; padding: 15px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp从视觉传感器获得的图像或视频易受到噪声或者是背景的影响，和和需要先进行图像的预处理，它包括图像的去噪、灰度化、二值化等。</div>
        <div style="font-size:20px; padding: 15px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp典型的去噪方法是滤波，其中中值滤波能有效抑制噪声，较好地保留边缘信息，是用于边缘跟踪的一种实用去噪方法。</div>
        <div style="font-size:20px; padding: 15px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp视觉导航技术就是通过视觉来解决机器人“我在哪”的问题，在实际应用中由于轮子的编码器在长时间的累积误差非常大，特别遇到轮子打滑等等因素后，导致定位和建图误差非常大，视觉导航技术就是利用视觉的数据进行处理和分析，然后通过图像处理理论，统计概率理论等手段进行数学优化，把误差降到最低，这样就可以得到最优的定位和精确的建图。视觉导航技术还处于一个发展阶段，可以了解下一微半导体，他们推出了与视觉导航技术配套使用的机器人专用主控芯片AM680，一站式解决芯片硬件，软件问题。</div>
        <div style="font-size:20px; padding: 15px;"></div>
        <br /><br /><br />
        <div class="text-center" style="font-size:20px; padding: 15px;">部分内容引用百度百科</div>
        <br /><br /><br />
    </div>

    <div class="layui-footer" style="color:white; margin-top:500px; margin-left: 700px;">
        <p>智能机器人相关技术介绍</p>
    </div>

</div>
<script>
document.getElementById('autonomous-navigation').className = 'layui-nav-item layui-nav-itemed';
{#var li = document.getElementById('autonomous-navigation');#}
{#li.className = 'layui-nav-item layui-nav-itemed';#}
</script>
{% endblock %}